@model List<WebMVC.Models.SupplierModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        @await Component.InvokeAsync("CategoryGetList")
    </div>
</div>

<div class="col-lg-9">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                @foreach (var item in Model)
                {
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">@item.SupplierName</h6>
                        <div class="d-flex justify-content-center">
                            <h6>@item.SupplierCountry</h6><h6 class="text-muted ml-2"></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="/Supplier/SupplierDetail/@item.SupplierId" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>