@model WebMVC.Models.SupplierModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Edit Supplier</h4>
        <p class="card-category">Complete Supplier</p>
    </div>
    <div class="card-body">
        <form action="/Supplier/Update" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Supplier Id</label>
                        <input type="text" class="form-control" name="SupplierId" value=@Model.SupplierId readonly="readonly">
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Supplier Name</label>
                        <input type="text" class="form-control" name="SupplierName" value=@Model.SupplierName>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Supplier Mail</label>
                        <input type="text" class="form-control" name="SupplierMail" value=@Model.SupplierMail>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Supplier Telephone Number</label>
                        <input type="text" class="form-control" name="SupplierTelephoneNumber" value=@Model.SupplierTelephoneNumber>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Supplier Contact Person Id</label>
                        <input type="text" class="form-control" name="SupplierContactPersonId" value=@Model.SupplierContactPersonId>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Supplier Giro</label>
                        <input type="text" class="form-control" name="SupplierGiro" value=@Model.SupplierGiro>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Supplier Country</label>
                        <input type="text" class="form-control" name="SupplierCountry" value=@Model.SupplierCountry>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Supplier Found Year</label>
                        <input type="text" class="form-control" name="SupplierFoundYear" value=@Model.SupplierFoundYear>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Supplier Employee Count</label>
                        <input type="text" class="form-control" name="EmployeeCount" value=@Model.EmployeeCount>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Supplier Tax No</label>
                        <input type="text" class="form-control" name="SupplierTaxNo" value=@Model.SupplierTaxNo>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Supplier Description</label>
                        <input type="text" class="form-control" name="SupplierDescription" value=@Model.SupplierDescription>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" action="">Edit Supplier</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
