@model WebMVC.Models.ProductModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Edit Product</h4>
        <p class="card-category">Complete Product</p>
    </div>
    <div class="card-body">
        <form action="/Product/Update" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Product Id</label>
                        <input type="text" class="form-control" name="ProductId" value=@Model.ProductId readonly="readonly">
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Product Name</label>
                        <input type="text" class="form-control" name="ProductName" value=@Model.ProductName>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Product Supplier Id</label>
                        <input type="text" class="form-control" name="ProductSupplierId" value=@Model.ProductSupplierId>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Product Category Id</label>
                        <input type="text" class="form-control" name="ProductCategoryId" value=@Model.ProductCategoryId>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Product Description</label>
                        <input type="text" class="form-control" name="ProductDescription" value=@Model.ProductDescription>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Product Country</label>
                        <input type="text" class="form-control" name="ProductCountry" value=@Model.ProductCountry>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Product Price</label>
                        <input type="text" class="form-control" name="ProductPrice" value=@Model.ProductPrice>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Product Date</label>
                        <input type="text" class="form-control" name="ProductionDate" value=@Model.ProductionDate>
                    </div>
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Product In Stock</label>
                        <input type="text" class="form-control" name="ProductInStock" value=@Model.ProductInStock>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" action="">Edit Product</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>