
<div class="navbar-nav ml-auto py-0">
    @if (@ViewBag.Email == "" || @ViewBag.Email == null)
    {
        <a href="/Auth/Login" class="nav-item nav-link">Giriş Yap</a>
        <a href="/Auth/Register" class="nav-item nav-link">Kayıt Ol</a>
    }
    else
    {
        <a href="/User/Profile" class="nav-item nav-link">@ViewBag.Email</a>
        <a href="/Auth/Logout" class="nav-item nav-link">Çıkış Yap</a>
    }
</div>

