<div class="navbar-nav ml-auto py-0">
    @if (@ViewBag.Email == "" || @ViewBag.Email == null)
    {
        <a href="/Auth/Login" class="nav-item nav-link">Giriş Yap</a>
        <a href="/Auth/Register" class="nav-item nav-link">Kayıt Ol</a>
    }
    else
    {
        if (ViewBag.Role == "salesEngineer")
        {
            <a href="/Product/Panel" class="nav-item nav-link">Panel</a>
        }
        if (ViewBag.Role == "admin")
        {
            <a href="/Admin/Index" class="nav-item nav-link">Admin Panel</a>
        }
        <a href="/User/Profile" class="nav-item nav-link">@ViewBag.Email</a>
        <a href="/Auth/Logout" class="nav-item nav-link">Çıkış Yap</a>
    }
</div>


