@model WebMVC.Models.CategoryModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Edit Category</h4>
        <p class="card-category">Complete Category</p>
    </div>
    <div class="card-body">
        <form action="/Category/Update" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Category Name</label>
                        <input type="text" class="form-control" name="Name" value=@Model.Name>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" action="">Update Category</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
