@model WebMVC.Models.UserModel
@{
    Layout = null;
}

<style>
    body {
        background: rgb(99, 39, 120)
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }

</style>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">@Model.LastName</span><span class="text-black-50">@Model.Email</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <form action="/User/Profile" method="post">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" name="FirstName" placeholder="first name" value=@Model.FirstName></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" name="LastName" value=@Model.LastName placeholder="surname"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">User Id</label><input type="text" name="UserId" class="form-control" value=@Model.Id readonly="readonly"></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" name="Email" class="form-control" value=@Model.Email></div>
                        <div class="col-md-12"><label class="labels">Supplier Id</label><input type="text" name="SupplierId" class="form-control" value=@Model.SupplierId></div>
                        <div class="col-md-12"><label class="labels">Supplier Name</label><input type="text" name="SupplierName" class="form-control" value="@Model.SupplierName" readonly="readonly"></div>

                    </div>
                    <div class="mt-5 text-center">
                        <button type="submit" class="btn btn-primary pull-right" action="">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>