@model List<WebMVC.Models.SupplierModel>

<div class="col">
    <div class="owl-carousel vendor-carousel">
        @foreach (var item in Model)
        {
            @if (@item.SupplierGiro >= 1000)
            {
                <div class="col-xs-12 col-sm-6 col-md-3 col">
                    <a href="/Supplier/SupplierDetail/@item.SupplierId" class="seoContent">
                        <div class="seoContentTop">
                            <div class="seoContentImg">
                                <img src="https://img.kompass.com/sys-master-root/hd3/h7e/9208415059998/no_company_logo.png" alt="">
                            </div>
                            <div class="seoContentTitle">
                                <h3>@item.SupplierName</h3>
                                <p class="seoContentCountryTown flagWorld">
                                    <span class="flag-tr"></span>@item.SupplierCountry
                                </p>
                            </div>
                        </div>
                        <div class="seoContentMiddle">
                            <p class="seoContentActivity">
                                @item.SupplierDescription
                            </p>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>